* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    height: 300px;
}


.navbar {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: 69px;
    background-color: rgb(131, 126, 126);
}

.navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

.navbar ul li a {
    text-decoration: none;
    margin: 12px;
    border-radius: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 14px;

}

ul {
    display: flex;

}

.navbar img {

    height: 69px;
    width: 114px;
}

.navbar button {
    font-size: 15px;
    color: white;
    background-color: hotpink;
    padding: 8px;
    border-radius: 15px;
    width: 110px;
}

.navbar button:hover {
    background-color: pink;
    color: black;
}

.container {
    background: url('background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

.name h4 {
    display: flex;
    align-items: center;
    padding-left: 720px;
    padding-top: 150px;
    font-size: 25px;
}

.name h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.name h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.image {
    margin-top: 0px;
    text-align: center;
    padding-top: 40px;
    background-color: rgb(221, 243, 252);
    height: 455px;
}

.image h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.client {
    display: flex;
    justify-content: center;
    text-align: center;

}

.services {
    border: 2px solid red;
    margin: 2px;
    padding: 4px;
    padding-bottom: 4px;
}

.services h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.services:hover {
    background-color: rgb(239, 239, 156);
}

.copyright {
    padding: 0rem 6rem;
    text-align: center;
    background-color: grey;
    margin: 2px;
    padding: 4px;
    color: white;
}